* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(192, 192, 192, 0.377);
    height: 100px;
}

main {
    background-color: rgba(192, 192, 192, 0.377);
    min-height: 55vh;
}

aside {
    background-color: rgba(192, 192, 192, 0.377);
    min-height: 10vh;
}

footer {
    background-color: rgba(192, 192, 192, 0.377);
    height: 100px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

nav ul {
    padding-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}

nav ul a{
padding: 15px    
}

h1,
h2,
h3 {
    font-family: 'Roboto Mono', monospace;
}

.card {
    position: relative;
    margin-bottom: 1em;
    width: calc(50% - .5em);
}

@media (max-width: 768px){
     .card {
     width: 100%;    
     }
    
}
.card.big{
    width: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1050px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.card h3 {
    position: absolute;
    top: 10%;
    left: 5%
}

aside h2 {
    font-weight: bold;
}

p {
    text-align: left;
    margin-bottom: 50px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

.project1 {
    margin-top: 10px;
}